@model IEnumerable<Domain.Models.TaskProject>
@using Domain.DataAccess
@using Domain.Models


@inject TrackingDb Context

@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager


@{
    ViewData["Title"] = "Задачи";
}

<h1>Список задач</h1>

@if (SignInManager.IsSignedIn(User))
{
    if (Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Admin || Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Manager)
    {
        <div style="display: flex; flex-direction: column;">
            <a asp-action="Create">Добавить задачу</a>
            <a asp-action="Index" asp-controller="Projects">Проекты</a>
        </div>
    }
}



@*<form asp-controller="TaskProjects" asp-action="Index" method="get">
        <p>
            Title: <input type="text" placeholder="Search.." name="search2" />
            <input style="float: right" type="submit" value="Filter" />
        </p>
    </form>*@



<div class="first" style="margin-top: 50px;">

    @if (SignInManager.IsSignedIn(User))
    {
        if (Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.DefaultUser)
        {
            <a asp-action="Redirect" class="btn btn-info" style="margin-right: 20px;">Посмотреть персональную статистику</a>
        }
    }



    <form class="formc" method="get" asp-action="Index">


        <input type="search" value="@ViewData["GetNamesdetails"]" placeholder="Искать здесь..." name="search">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>

</div>


<table class="table" style="margin-top: 10px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th>
                Статус
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var taskStatus = "table-primary";
            if ((item.EndDate - DateTime.Now).TotalDays < 3)
            {
                taskStatus = "table-warning";
            }
            if ((item.EndDate - DateTime.Now).TotalDays < 1)
            {
                taskStatus = "deadline__soon";
            }
            if ((item.EndDate - DateTime.Now).TotalDays < 0)
            {
                taskStatus = "table-danger";
            }
            if (item.isEnd)
            {
                taskStatus = "table-success";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Context.Projects.FirstOrDefault(x => x.Id == item.ProjectId).Title)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a>@Html.DisplayFor(modelItem => item.Title)</a>
                    }
                    else
                    {
                        <a>@Html.DisplayFor(modelItem => item.Title)</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Context.Users.FirstOrDefault(x => x.Id == item.UserId.ToString()).Email)
                </td>
                <td>
                    @item.StartDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.EndDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (item.TaskType == TaskType.Analytics)
                    {
                        <span>Аналитика</span>
                    }
                    else if (item.TaskType == TaskType.Documenting)
                    {
                        <span>Документирование</span>
                    }
                    else if (item.TaskType == TaskType.Programming)
                    {
                        <span>Программирование</span>
                    }
                </td>

                @if (SignInManager.IsSignedIn(User))
                {
                    if (Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Admin || Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Manager)
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    }
                }
                <td class="@taskStatus">
                    @if (taskStatus == "table-primary")
                    {
                        <span>Активно</span>
                    }
                    else if (taskStatus == "table-danger")
                    {
                        <span>Просрочено</span>

                    }
                    else if (taskStatus == "table-warning")
                    {
                        <span>Менее 3 дней</span>
                    }
                    else if (taskStatus == "deadline__soon")
                    {
                        <span>Менее дня</span>
                    }
                    else if (taskStatus == "table-success")
                    {
                        <span>Выполнено</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@if (SignInManager.IsSignedIn(User))
{
    if (Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Admin || Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Manager)
    {
        using (Html.BeginForm("Excel", "TaskProjects", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
        {
            <div>
                <input type="submit" class="btn btn-dark" value="Загрузить в формат excel" />
            </div>
        }
    }

}

